mixin default-pricing
  .row.justify-content-sm-center.row-xl.row-30

    // Pricing Box
    .col-md-6.col-xl-3
      .pricing-box.pricing-box-novi
        .pricing-box-header: h4 basic
        .pricing-box-body
          ul.pricing-box-list
            li 10 Users
            li 100 GB of Disk Space
            li.pricing-box-list-disable 800 GB Bandwidth
            li.pricing-box-list-disable 10 Databases
            li.pricing-box-list-disable 5 Email Accounts
          .pricing-box-price: .heading-4 $49.00
          a.button.button-sm.button-secondary.button-nina(href='#') buy now

    // Pricing Box
    .col-md-6.col-xl-3
      .pricing-box.pricing-box-novi
        .pricing-box-header: h4 standard
        .pricing-box-body
          ul.pricing-box-list
            li 10 Users
            li 100 GB of Disk Space
            li 800 GB Bandwidth
            li.pricing-box-list-disable 10 Databases
            li.pricing-box-list-disable 5 Email Accounts
          .pricing-box-price: .heading-4 $69.00
          a.button.button-sm.button-secondary.button-nina(href='#') buy now

    // Pricing Box
    .col-md-6.col-xl-3
      .pricing-box.pricing-box-novi
        .pricing-box-header: h4 gold
        .pricing-box-body
          ul.pricing-box-list
            li 10 Users
            li 100 GB of Disk Space
            li 800 GB Bandwidth
            li 10 Databases
            li.pricing-box-list-disable 5 Email Accounts
          .pricing-box-price: .heading-4 $88.00
          a.button.button-sm.button-secondary.button-nina(href='#') buy now

    // Pricing Box
    .col-md-6.col-xl-3
      .pricing-box.pricing-box-novi
        .pricing-box-header: h4 platinum
        .pricing-box-body
          ul.pricing-box-list
            li 10 Users
            li 100 GB of Disk Space
            li 800 GB Bandwidth
            li 10 Databases
            li 5 Email Accounts
          .pricing-box-price: .heading-4 $108.00
          a.button.button-sm.button-secondary.button-nina(href='#') buy now

mixin alternative-pricing
  .row.justify-content-sm-center.row-xl.no-gutters.row-100.pricing-box-wrap

    // Pricing Box Alternative
    .col-md-6.col-lg-4.col-xl-3.pricing-box-wrap-element
      .pricing-box-alternative.pricing-box-novi
        .pricing-box-alternative-header: h4 basic
        ul.pricing-box-rating
          li: span.icon.novi-icon.icon-md.mdi.mdi-star
          li: span.icon.novi-icon.icon-md.mdi.mdi-star
          li: span.icon.novi-icon.icon-md.mdi.mdi-star-outline
          li: span.icon.novi-icon.icon-md.mdi.mdi-star-outline
          li: span.icon.novi-icon.icon-md.mdi.mdi-star-outline
        ul.pricing-box-list
          li 10 Users
          li 100 GB of Disk Space
          li.pricing-box-list-disable 800 GB Bandwidth
          li.pricing-box-list-disable 10 Databases
          li.pricing-box-list-disable 5 Email Accounts
        .pricing-box-price: .heading-4 $49.00
        .pricing-box-button: a.button.button-xs.button-secondary.button-nina(href='#') order now

    // Pricing Box Alternative
    .col-md-6.col-lg-4.col-xl-3.pricing-box-wrap-element
      .pricing-box-alternative.pricing-box-novi
        .pricing-box-alternative-header: h4 standard
        ul.pricing-box-rating
          li: span.icon.novi-icon.icon-md.mdi.mdi-star
          li: span.icon.novi-icon.icon-md.mdi.mdi-star
          li: span.icon.novi-icon.icon-md.mdi.mdi-star
          li: span.icon.novi-icon.icon-md.mdi.mdi-star-outline
          li: span.icon.novi-icon.icon-md.mdi.mdi-star-outline
        ul.pricing-box-list
          li 10 Users
          li 100 GB of Disk Space
          li 800 GB Bandwidth
          li.pricing-box-list-disable 10 Databases
          li.pricing-box-list-disable 5 Email Accounts
        .pricing-box-price: .heading-4 $69.00
        .pricing-box-button: a.button.button-xs.button-secondary.button-nina(href='#') order now

    // Pricing Box Alternative
    .col-md-6.col-lg-4.col-xl-3.pricing-box-wrap-element
      .pricing-box-alternative.pricing-box-novi
        .pricing-box-alternative-header: h4 Gold
        ul.pricing-box-rating
          li: span.icon.novi-icon.icon-md.mdi.mdi-star
          li: span.icon.novi-icon.icon-md.mdi.mdi-star
          li: span.icon.novi-icon.icon-md.mdi.mdi-star
          li: span.icon.novi-icon.icon-md.mdi.mdi-star
          li: span.icon.novi-icon.icon-md.mdi.mdi-star-outline
        ul.pricing-box-list
          li 10 Users
          li 100 GB of Disk Space
          li 800 GB Bandwidth
          li 10 Databases
          li.pricing-box-list-disable 5 Email Accounts
        .pricing-box-price: .heading-4 $88.00
        .pricing-box-button: a.button.button-xs.button-secondary.button-nina(href='#') order now

    // Pricing Box Alternative
    .col-md-6.col-lg-4.col-xl-3.pricing-box-wrap-element
      .pricing-box-alternative.pricing-box-novi
        .pricing-box-alternative-header: h4 platinum
        ul.pricing-box-rating
          li: span.icon.novi-icon.icon-md.mdi.mdi-star
          li: span.icon.novi-icon.icon-md.mdi.mdi-star
          li: span.icon.novi-icon.icon-md.mdi.mdi-star
          li: span.icon.novi-icon.icon-md.mdi.mdi-star
          li: span.icon.novi-icon.icon-md.mdi.mdi-star
        ul.pricing-box-list
          li 10 Users
          li 100 GB of Disk Space
          li 800 GB Bandwidth
          li 10 Databases
          li 5 Email Accounts
        .pricing-box-price: .heading-4 $108.00
        .pricing-box-button: a.button.button-xs.button-secondary.button-nina(href='#') order now

mixin columns-pricing
  .row.justify-content-sm-center.row-lg.row-30

    // Pricing Box Lg
    .col-md-8.col-xl-6
      .pricing-box.pricing-box-lg.pricing-box-novi
        .pricing-box-header.text-sm-start
          h4 gold
        .pricing-box-body
          .row.align-items-sm-center
            .col-sm-6.text-sm-start
              ul.pricing-box-list.list-marked
                li 10 Users
                li 100 GB of Disk Space
                li 800 GB Bandwidth
                li 10 Databases
                li.pricing-box-list-disable 5 Email Accounts
            .col-sm-6.text-sm-end
              .pricing-box-price
                .pricing-box-price-old: .heading-5 $109.00
                .pricing-box-price-new: .heading-2 $88.00
              a.button.button-xs.button-secondary.button-nina(href='#') order now

    // Pricing Box Lg
    .col-md-8.col-xl-6
      .pricing-box.pricing-box-lg.pricing-box-novi
        .pricing-box-header.text-sm-start
          h4 platinum
        .pricing-box-body
          .row.align-items-sm-center
            .col-sm-6.text-sm-start
              ul.pricing-box-list.list-marked
                li 10 Users
                li 100 GB of Disk Space
                li 800 GB Bandwidth
                li 10 Databases
                li 5 Email Accounts
            .col-sm-6.text-sm-end
              .pricing-box-price
                .pricing-box-price-old: .heading-5 $139.00
                .pricing-box-price-new: .heading-2 $108.00
              a.button.button-xs.button-secondary.button-nina(href='#') order now

mixin xxl-pricing
  .row.row-lg.row-50.justify-content-sm-center

    // Pricing Box XL
    .col-md-6.col-xl-4
      .pricing-box.pricing-box-xl.pricing-box-novi
        .pricing-box-header
          h4 Basic
        .pricing-box-price
          .heading-2
            sup $
            | 49.00
        a.button.button-sm.button-primary.button-nina(href='#') order now
        .pricing-box-body
          ul.pricing-box-list
            li
              .unit.unit-spacing-sm.flex-row.align-items-center
                .unit-left: span.icon.novi-icon.icon-md-big.icon-primary.mdi.mdi-account-multiple
                .unit-body: span 1 Course
            li
              .unit.unit-spacing-sm.flex-row.align-items-center
                .unit-left: span.icon.novi-icon.icon-md-big.icon-primary.mdi.mdi-harddisk
                .unit-body: span 3 Weekly Assignments
            li
              .unit.unit-spacing-sm.flex-row.align-items-center
                .unit-left: span.icon.novi-icon.icon-md-big.icon-primary.mdi.mdi-repeat
                .unit-body: span 10 Video Lectures
            li
              .unit.unit-spacing-sm.flex-row.align-items-center
                .unit-left: span.icon.novi-icon.icon-md-big.icon-primary.mdi.mdi-database
                .unit-body: span Weekly Feedback
            li
              .unit.unit-spacing-sm.flex-row.align-items-center
                .unit-left: span.icon.novi-icon.icon-md.icon-primary.mdi.mdi-email-open
                .unit-body: span E-mail Support

    // Pricing Box XL
    .col-md-6.col-xl-4
      .pricing-box.pricing-box-xl.pricing-box-novi
        .pricing-box-header
          h4 Standard
        .pricing-box-price
          .heading-2
            sup $
            | 69.00
        a.button.button-sm.button-primary.button-nina(href='#') order now
        .pricing-box-body
          ul.pricing-box-list
            li
              .unit.unit-spacing-sm.flex-row.align-items-center
                .unit-left: span.icon.novi-icon.icon-md-big.icon-primary.mdi.mdi-account-multiple
                .unit-body: span 3 Courses
            li
              .unit.unit-spacing-sm.flex-row.align-items-center
                .unit-left: span.icon.novi-icon.icon-md-big.icon-primary.mdi.mdi-harddisk
                .unit-body: span 5 Weekly Assignments
            li
              .unit.unit-spacing-sm.flex-row.align-items-center
                .unit-left: span.icon.novi-icon.icon-md-big.icon-primary.mdi.mdi-repeat
                .unit-body: span 15 Video Lectures
            li
              .unit.unit-spacing-sm.flex-row.align-items-center
                .unit-left: span.icon.novi-icon.icon-md-big.icon-primary.mdi.mdi-database
                .unit-body: span Daily Feedback
            li
              .unit.unit-spacing-sm.flex-row.align-items-center
                .unit-left: span.icon.novi-icon.icon-md.icon-primary.mdi.mdi-email-open
                .unit-body: span Chat Support

    // Pricing Box XL
    .col-md-6.col-xl-4
      .pricing-box.pricing-box-xl.pricing-box-novi
        .pricing-box-header
          h4 Gold
        .pricing-box-price
          .heading-2
            sup $
            | 88.00
        a.button.button-sm.button-primary.button-nina(href='#') order now
        .pricing-box-body
          ul.pricing-box-list
            li
              .unit.unit-spacing-sm.flex-row.align-items-center
                .unit-left: span.icon.novi-icon.icon-md-big.icon-primary.mdi.mdi-account-multiple
                .unit-body: span 5 Courses
            li
              .unit.unit-spacing-sm.flex-row.align-items-center
                .unit-left: span.icon.novi-icon.icon-md-big.icon-primary.mdi.mdi-harddisk
                .unit-body: span 10 Weekly Assignments
            li
              .unit.unit-spacing-sm.flex-row.align-items-center
                .unit-left: span.icon.novi-icon.icon-md-big.icon-primary.mdi.mdi-repeat
                .unit-body: span 20 Video Lectures
            li
              .unit.unit-spacing-sm.flex-row.align-items-center
                .unit-left: span.icon.novi-icon.icon-md-big.icon-primary.mdi.mdi-database
                .unit-body: span Instant Feedback
            li
              .unit.unit-spacing-sm.flex-row.align-items-center
                .unit-left: span.icon.novi-icon.icon-md.icon-primary.mdi.mdi-email-open
                .unit-body: span 24/7 Support
