section.section.section-md.bg-accent.text-center.text-md-start
	.container
		.row
			.col-xl-11
				.box-cta.box-cta-inline
					.box-cta-inner
						h3.box-cta-title
							span.box-cta-icon.icon-custom-briefcase
							span Join our team
						p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti, illum.
					.box-cta-inner
						a.button.button-dark.button-nina(href='contacts.html') Get in touch