footer.section.novi-bg.novi-bg-img.footer-classic
	.footer-modern__main.bg-gray-lighter
		.container
			.row.row-50.justify-content-sm-center.justify-content-md-start.justify-content-lg-between
				.col-sm-6.col-md-4.col-lg-3
					.footer-title Contact Us:
					a(href='tel:#').footer-phone.text-darker.mt-5 P: +1 234 567 8901
					.footer-title.mt-3 Opening hours:
					p.footer-street.mt-1 9 to 5 pm on Weekdays

				.col-sm-6.offset-md-2.offset-lg-3
					.footer-title Our Address:
					p.footer-street.mt-1 178 West 27th Street, Suite 527, New York NY 10012

					ul.footer-list-icon.mt-5
						li.me-3: a(href='#' class='icon mdi mdi-youtube-play')
						li.me-3: a(href='#' class='icon mdi mdi-facebook')
						li.me-3: a(href='#' class='icon mdi mdi-instagram')
						li.me-3: a(href='#' class='icon mdi mdi-twitter')
						li.me-3: a(href='#' class='icon mdi mdi-linkedin')
				.col-12
					+rights
