.container
	h3.text-center Popular courses
	.row.row-40.row-lg-50
		.col-sm-6.col-md-4.wow.fadeInUp(data-wow-delay=".1s")
			+box-project({
				img: 'home-04-360x345',
				subtitle: 'Business',
				title: 'Development of your business skills',
				time: '23 hours',
				price: '$165'
			})
		.col-sm-6.col-md-4.wow.fadeInUp(data-wow-delay=".2s")
			+box-project({
				img: 'home-05-360x345',
				subtitle: 'PROGRAMMING',
				title: 'Python programming',
				time: '46 hours',
				price: '$290'
			})
		.col-sm-6.col-md-4.wow.fadeInUp(data-wow-delay=".3s")
			+box-project({
				img: 'home-06-360x345',
				subtitle: 'Programming',
				title: 'Data structures and algorithms',
				time: '18 hours',
				price: '$120'
			})
		.col-sm-6.col-md-4.wow.fadeInUp(data-wow-delay=".1s")
			+box-project({
				img: 'home-07-360x345',
				subtitle: 'ARCHITECTURE, ART & DESIGN',
				title: 'Global housing design',
				time: '34 hours',
				price: '$195'
			})
		.col-sm-6.col-md-4.wow.fadeInUp(data-wow-delay=".2s")
			+box-project({
				img: 'home-08-360x345',
				subtitle: 'Business',
				title: 'IT fundamentals for business',
				time: '8 hours',
				price: '$75'
			})
		.col-sm-6.col-md-4.wow.fadeInUp(data-wow-delay=".3s")
			+box-project({
				img: 'home-09-360x345',
				subtitle: 'Marketing',
				title: 'Online marketing: SEO and SMM',
				time: '43 hours',
				price: '$145'
			})
		.col-12.text-center.mt-2.mt-xl-4
			a( href='courses.html' ).button.button-primary.button-nina All courses